@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Noto+Sans:wght@500&family=Open+Sans&family=Roboto:wght@300&display=swap');


html{
    scroll-behavior: smooth;
    scroll-padding-top: 200px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.intro {
    height: 70vh;
    background-color: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    position: fixed;
    top: 0;
    bottom: 50px;
    width: 100%;
    z-index: 9999;
    height: 60px;
}


.header_content {
    height: 60px;
    display: fixed;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
}

nav {
    position: ;
    top: 0;
}
img {
    padding-top: 25px;
    display: flex;
    justify-content: right;
}

body {
  margin: 0;
}

.hero {
  position: flex;
    background-image: url(image/Senna02.png);
    height: calc(100vh - 80px);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}



.menu_bar {
    background-color: white;
    height: 145px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0.5%;
}

.menu_bar li{
    list-style: none;
    display: inline-block;
    text-decoration: none;
    justify-content: space-between;
    font-weight: bold;
}

.menu_bar ul li {
    padding: 10px 30px;
    text-decoration: none;
    justify-content: space-between;
}

.menu_bar ul li a {
    color: black;
    text-decoration: none;
    font-size: 20px;
}

.menu_bar ul li a:hover {
    color: red;
}



body {
    font-family: Lato, sans-serif;
    background-color: whitesmoke;
}


.content {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}



table {
   position: static;
    margin: 0 auto;
}



.timeline {
    position: flex;
    max-width: 2000px;
    margin: 100px auto;
    animation: moveline 6s lineear forwards;
}

.container {
padding: 10px 50px;
position: relative;
width: 50%;
background: white;
}

.text-box {
    padding: 20px 30px;
    position: static;
    border-radius: 6px;
    font-size: 15px;
    
}

.left-container {
    left: 0;
}
.right-container {
    left: 50%;
}
.container img {
    position: static;
    width: 200px;
    padding-bottom: 20px;
    right: 5px;
    z-index: 10;
}


.right-container img {
    left: 525px;
}

.timeline::after{
    content: ;
    position: absolute;
    width: 6px;
    height: 100%;
    background: ;
    top: 0;
    left: 50%;
    margin-left: 3px;
    z-index: -1;
}

 .img {
    padding-bottom: 15px;
    right: 10px;
 }



/* Gallery page - collage photos */
.container_photos {
    position: relative;
    
  }
  
  .collage {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  .collage_hover {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .container_photos:hover .collage {
    opacity: 0.3;
  }
  
  .container_photos:hover .collage_hover {
    opacity: 1;
  }
  
  .collage_text {
    background-color: #fff;
    color: #000;
    font-size: 16px;
    padding: 16px 32px;
    opacity: 0.9;
    border-radius: 10px;
  }
  
  .row {
    margin-top: 1.5%;
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  .column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    border-radius: 15px;
  }
  
  







/* Footer */

footer {
    background-color: red;
    padding: 50px;
}

footer ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
}

footer i {
    font-size: 160%;
    padding: 5%;
    color: white;
}

footer i:hover{
    color: black
}

footer p {
    text-align: center;
    color: white;
}

/* Navbar query max width 999px */
label #btn,
label #cancel {
  color: black;
  font: 30px;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}
@media (max-width: 999px) {
  label #btn{
    display: block;
  }

  ul{
    position: fixed;
    width: 40%;
    height: 100vh;
    background: red;
    top: 80px;
    right: -100%;
    text-align: right;
    transition: all 0.5s;
  }
  nav ul li{
    display: list-item;
    margin: 50px 0;
    line-height: 30px;
  }

nav ul li a{
  font-size: 30px;
}
#check:checked ~ ul{
  right: 0;
}
#check:checked ~ #btn{
  display: none;
}
#check:checked ~ #label #cancel{
  display: block;

  .nav>.nav_btn {
    display: inline-block;
    position: absolute;
    left: 0px;
    top: 0px;
  }

  .nav>.nav_btn>label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }

  .nav>.nav_btn>label:hover, .nav #nav_check:checked~.nav_btn>label {
    background-color: #e74c3c;
  }

  .nav>.nav_btn>label>span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #fff;
  }

  .nav>.nav_links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #34495e;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }

  .nav>.nav_links>a {
    display: block;
    width: 100%;
  }

  .nav>#nav_check:not(:checked)~.nav_links {
    height: 0px;
  }

  .nav>#nav_check:checked~.nav_links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }




/* Media query max width 1200px */
@media screen and (max-width: 1200px) {

.header{
  position: relative;
  display: inline;
}

  .hero-image {
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    width: 80%;
    left: 0;
}
/* Media query max width 900px */
@media screen and (max-width: 900px) {
  .hero-image {
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    width: 50%;
    left: 0;
}


/* Media query max width 800px */
@media screen and (max-width: 800px) {
  .hero-image {
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    width: 50%;
    left: 0;
}


/* Media query max width 635px */
@media screen and (max-width: 635px) {
  .hero-image {
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    width: 50%;
    left: 0;
}


/* Navbar query max width 999px */
label #btn,
label #cancel {
  color: black;
  font: 30px;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}
@media (max-width: 999px) {
  label #btn{
    display: block;
  }

  ul{
    position: fixed;
    width: 40%;
    height: 100vh;
    background: red;
    top: 80px;
    right: -100%;
    text-align: right;
    transition: all 0.5s;
  }
  nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }

nav ul li a{
  font-size: 20px;
}
#check:checked ~ ul{
  right: 0;
}
#check:checked ~ #btn{
  display: none;
}
#check:checked ~ #label #cancel{
  display: block;