@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Noto+Sans:wght@500&family=Open+Sans&family=Roboto:wght@300&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.intro {
    height: 70vh;
    background-color: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    position: flex;
    top: 20px;
    bottom: 50px;
    width: 100%;
    z-index: 9999;
    height: 60px;
}

.header_content {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;

}

nav {
    position: sticky;
    top: 0;
}
img {
    padding-top: 25px;
}

.hero {
    background-image: url(image/Senna02.png);
    height: calc(100vh - 80px);
}



.menu_bar {
    background-color: white;
    height: 145px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0.5%;
}

.menu_bar li{
    list-style: none;
    display: inline-block;
    text-decoration: none;
    justify-content: space-between;
    font-weight: bold;
}

.menu_bar ul li {
    padding: 10px 30px;
    text-decoration: none;
    justify-content: space-between;
}

.menu_bar ul li a {
    color: black;
    text-decoration: none;
    font-size: 20px;
}

.menu_bar ul li a:hover {
    color: red;

}

body {
    font-family: Lato, sans-serif;
    background-color: whitesmoke;
}


.content {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}






.timeline {
    position: relative;
    max-width: 1200px;
    margin: 100px auto;
}

.container {
padding: 10px 50px;
position: relative;
width: 50%;
background: white;
}

.text-box {
    padding: 20px 30px;
    position: relative;
    border-radius: 6px;
    font-size: 15px;
}







footer {
    background-color: red;
    padding: 50px;
}

footer ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
}

footer i {
    font-size: 160%;
    padding: 5%;
    color: white;
}

footer i:hover{
    color: black
}

footer p {
    text-align: center;
    color: white;
}