/* Import from Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Noto+Sans:wght@500&family=Open+Sans&family=Roboto:wght@300&display=swap');

/* Adjust scroll behavior of html document */
html{
    scroll-behavior: smooth;
    scroll-padding-top: 200px;
}

/* Change default margins, padding and box-sizing */
* {
    margin: 0;
    padding: 50px;
    box-sizing: border-box;
}

section#Introduction {
  font-size: 3vw;
  text-align: center;
}



/* Adjusting header backround color and height */
.intro {
    height: 70vh;
    background-color: white
}
/* Header Information, Content and Images */
.header {
    position: absolute;
    background-color: white;
    top: 100px;
    bottom: 2em;
    width: 100%;
    z-index: 1;
    height: 100px;
}

.header_content {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
}

nav {
    position: static;
    top: 0;
}

.menu_bar img {
    padding-top: 5px;
    display: flex;
    justify-content: right;
    width: 80%;
    height: auto;
}
body {
  margin: 0;
}

/* Hero Image */
.hero img{
  position: relative;
    width: 100%;
    overflow: hidden;
}
    .image-text {
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: black;
      font-size: 3vw; 
      font-weight: bold; 
      text-align: center;
      z-index: 1; 
      padding: 10px;
      background-color: red;
  }

/* Menu Bar information */
.menu_bar {
    background-color: white;
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0.5%;
}


.menu_bar li{
    list-style: none;
    display: inline-block;
    text-decoration: none;
    justify-content: space-between;
    font-weight: bold;
}

.menu_bar ul li {
    padding: 10px 30px;
    text-decoration: none;
    justify-content: space-between;
}

.menu_bar ul li a {
    color: black;
    text-decoration: none;
    font-size: 2.5vw;
}

.menu_bar ul li a:hover {
    color: red;
}

/* Footer */
footer {
  background-color: red;
  padding: 25px;
  width: 100%;
  text-align: center;
}

footer ul {
display: flex;
justify-content: space-evenly;
}

footer li {
display: inline;
}

footer i {
  font-size: 6vw;
  color: white;
  padding: 5px;
  z-index: 50;
}

footer i:hover{
  color: black
}

footer p {
  font-size: 2vw;
  text-align: center;
  color: white;
}


/* Career */
body {
    font-family: Lato, sans-serif;
    background-color: whitesmoke;
}

.content {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

table {
   position: static;
    margin: 5% 0;
}

.container {
padding: 10px 50px 10px;
position: relative;
width: 50%;
background: #34495e;
}

.text-box {
  color: #fafafa;
    padding: 20px 30px 20px;
    position: relative;
    border-radius: 6px;
    font-size: 13px;
    background-color: #34495e;
}

.left-container {
    left: 0;
}

.right-container {
    left: 0%;
}

.container img {
    position: static;
    width: 150px;
    padding-bottom: 20px;
    right: 5px;
    z-index: 10;
}

/* Gallery page - collage photos */
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container
{
width: 1400px;
margin: auto;
columns: 3;
}
.container .box
{
width: 100%;
margin-bottom: 10px;
break-inside: auto;
}
.container .box img
{
  max-width: 100%;
  border-radius: 15px;
}
.div h2
{
  font-size: 25px;
}
@media (max-width: 1200px)
{
  .container
  {
    width: calc(100% - 40px);
    columns: 3;
  }
}
@media (max-width: 768px)
{
  .container
  {
    columns: 2;
  }
}
@media (max-width: 480px)
{
  .container
  {
    columns: 1;
  }
}

/* Newsletter */
#newsletter{
  text-align: center;
}
.contact_element {
  display: inline-block;
  margin: 1%;
  padding: 3%;
  vertical-align: top;
}
.address_word_wrap {
  width: 14rem;
}
.word_wrap {
  word-wrap: break-word;
}
#contact_details i {
  font-size: 200%;
  color: #3a3a3a
}
.contact_form {
  color: #fff;
  background-color: #34495e;
  max-width: 400px;
  padding: 30px;
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 1.5%;
}
.contact_form h2 {
  color: #fafafa;
  margin-bottom: 20px;
}
.text_input {
  background: transparent;
  color: #fafafa;
  width: 100%;
  height: 25px;
  margin: 5px 0 20px 0;
  border: 1px solid #fafafa;
  border-radius: 2px;
}
.text_input:hover {
  border-color: #e74c3c;
}
#feedback {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 5px;
  width: 100%;
  margin: 0 auto;
  height: 5rem;
}
.submit_button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin-top: 20px;
  border-radius: 2px;
  padding: 15px 32px 15px 32px;
  text-align: center;
  font-size: 100%;
  background-color: #e74c3c;
  color: #fff;
  display: inline-block;
  border-radius: 5px;
}
.submit_button:hover {
  background-color: #fff;
  color: #e74c3c;
}
.form_layout {
  text-align: center;
}
.form_inline {
  display: inline-block;
  vertical-align: bottom;
}
.form_inline img {
  max-width: 500px;
  border-radius: 10px;
}



/* Navbar query max width 1036px */
@media screen and(max-width: 1036px) {
}
label #btn,
label #cancel {
  color: black;
  font: 2vw;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}
@media (max-width: 1036px) {
  label #btn{
    display: block;
  }
  nav ul{
    position: fixed;
    width: 30%;
    height: 65vh;
    background: red;
    top: 100px;
    right: -100%;
    text-align: left;
    transition: all 0.5s;
    z-index: 100;
  }
  nav ul li{
    display: list-item;
    margin: 30px 20px;
    line-height: 30px;
  }

nav ul li a{
  font-size: 2vw;
}
#check:checked ~ ul{
  right: 0;
}
#check:checked ~ #btn{
  display: none;
}
#check:checked ~ #label #cancel{
  display: block;
  z-index: 100;

  .nav>.nav_btn {
    display: inline-block;
    position: absolute;
    left: 0px;
    top: 0px;
  }

  .nav>.nav_btn>label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }

  .nav>.nav_btn>label:hover, .nav #nav_check:checked~.nav_btn>label {
    background-color: #e74c3c;
  }

  .nav>.nav_btn>label>span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #fff;
  }

  .nav>.nav_links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #34495e;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }

  .nav>.nav_links>a {
    display: block;
    width: 100%;
  }

  .nav>#nav_check:not(:checked)~.nav_links {
    height: 0px;
  }

  .nav>#nav_check:checked~.nav_links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }



  @media (max-width: 500px) {
    label #btn{
      display: block;
    }
   navbar ul{
      position: fixed;
      width: 60%;
      height: 100vh;
      background: red;
      top: 80px;
      right: -100%;
      text-align: left;
      transition: all 0.5s;
      z-index: 1;
    }
    navbar ul li{
      display: list-item;
      margin: 20px 20px;
      line-height: 30px;
      font-size: 5px;
    }
  
  navbar ul li {
    font-size: 1rem;
  }

  
  #check:checked ~ #label #cancel{
    display: block;
    z-index: 1;
  
    .nav>.nav_btn {
      display: inline-block;
      position: absolute;
      left: 0px;
      top: 0px;
    }
  
    .nav>.nav_btn>label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
    }
  
    .nav>.nav_btn>label:hover, .nav #nav_check:checked~.nav_btn>label {
      background-color: #e74c3c;
    }
  
    .nav>.nav_btn>label>span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid #fff;
    }
  
    .nav>.nav_links {
      position: absolute;
      display: block;
      width: 100%;
      background-color: #34495e;
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 50px;
      left: 0px;
    }
  
    .nav>.nav_links>a {
      display: block;
      width: 100%;
    }
  
    .nav>#nav_check:not(:checked)~.nav_links {
      height: 0px;
    }
  
    .nav>#nav_check:checked~.nav_links {
      height: calc(100vh - 50px);
      overflow-y: auto;
    }


/* Media query max width 1200px */
@media screen and (max-width: 1200px) {

.header{
  position: relative;
  display: inline;
}

  .hero-image {
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    width: 80%;
    left: 0;
}
/* Media query max width 900px */
@media screen and (max-width: 900px) {
  .hero-image {
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    width: 50%;
    left: 0;
}


/* Media query max width 800px */
@media screen and (max-width: 800px) {
  .hero-image {
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    width: 50%;
    left: 0;
}


/* Media query max width 635px */
@media screen and (max-width: 635px) {
  .hero-image {
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    width: 50%;
    left: 0;
}